body {
  font-family: arial;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overview {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 35px auto;
}

.weather-app-border {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px;
}

.weather-temperature #celcius {
  text-decoration-line: none;
}

.weather-temperature img {
  margin-right: 6px;
  width: 75px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 18px;
  position: relative;
  top: -33px;
}
